body {
    background-color: rgb(10, 10, 10);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

.appMain {
    height: 100%;
    width: 100%;
}

.appContainer {
    height: 100%;
}

.appDescription {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25vw;
    color: rgb(200, 200, 200);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    overflow-y: auto;
}

.appUiPanel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.colorPickerOption {
    display: block;
    width: 4rem;
    height: 3rem;
    box-sizing: border-box;
    padding: 4px;
    font-size: 70%;
}

.colorPickerOption:hover {
    box-shadow: 2px 2px 10px 1px rgb(16, 16, 16);
    z-index: 9999;
}

.colorPickerPicker {
    display: flex;
    flex-direction: column;
    position: relative;
}

.colorPickerTable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 25rem;
    height: 100vh;
    list-style: none;
    padding: 0;
    overflow-y: auto;
    position: absolute;
    top: 100%;
}

.verticalGroupContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 4px;
}

.verticalGroupLabel {
    color: #dddddd;
}
